<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= comment.review %>
  </p>

  <p>
    <strong>Writing:</strong>
    <%= comment.writing_id %>
  </p>

</div>
